body{background-color:gray;}
.me{background-color: gold;}
.my{background-color: yellow;}
.our{background-color: greenyellow;}
.you{background-color: darkgray;}
.your{background-color:mediumorchid;}